alabaster==0.7.10
Babel==2.5.1
certifi==2017.11.5
chardet==3.0.4
coverage==4.4.1
Django==1.9
django-cleanup==2.1.0
django-nose==1.4.5
django-picklefield==1.0.0
django-recaptcha==1.3.1
django-widget-tweaks==1.4.1
djangorestframework==3.6.4
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2==2.10
Markdown==2.6.10
MarkupSafe==1.0
mysqlclient==1.3.12
nose==1.3.7
olefile==0.44
Pillow==4.3.0
Pygments==2.7.4
pystache==0.5.4
python-dateutil==2.6.0
python-decouple==3.1
pytz==2017.2
requests==2.18.4
simplejson==3.11.1
six==1.10.0
smartypants==2.0.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
urllib3==1.22
