{% extends 'climate/base.html' %}

{% block title %}Elfelejtett jelszó{% endblock %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading"><span class="glyphicon glyphicon-info-sign"></span> Elfelejtett jelszó pótlása</div>
    <div class="panel-body">
      <div class="col-12 login-form">
        {% if validlink %}
          <h3>Jelszó megváltoztatása</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Jelszó megváltoztatása</button>
          </form>
        {% else %}
          <p>A jelszó változtató link hibás, vagy már fel lett használva.</p>
          <p>Kérjük, igényelj újat.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}