{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- BOOTSTRAP +++++++++++++++++++++++++++++ -->
	
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<link href="{%static 'css/jumbotron-narrow.css' %}" rel="stylesheet">
	<!-- /BOOTSTRAP +++++++++++++++++++++++++++++ -->
	
	<!-- LIBS ++++++++++++++++ -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!-- google charts -->
	<!-- /LIBS ++++++++++++++++++++ -->
	
	<!-- FONTS ++++++++++++++++++++++++++++++++++ -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<!-- /FONTS +++++++++++++++++++++++++++++++++ -->
	
	<!-- CSS FILES ++++++++++++++++++++++++++++++ -->
	<!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/css-toggle-switch/latest/toggle-switch.css" /> <!-- https://ghinda.net/css-toggle-switch/bootstrap.html -->
	<link rel="stylesheet" href="{% static 'css/klimaadat.css' %}">
	<link href="{%static 'css/weather-icons.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/weather-icons-wind.min.css' %}" rel="stylesheet">
	<!-- /CSS FILES +++++++++++++++++++++++++++++ -->
	
	<script src="{% static 'js/gmaps.js' %}"></script>

	<title>
		{% block title %}{% endblock %}
	</title>
	
	<!--script src="{% static 'js/charts.js' %}"></script-->
</head>

<body>

{% block before-header%}{% endblock %}

<nav class="navbar navbar-inverse noradius">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'main' %}">Zivatar.hu Éghajlati Adatbázis</a>
		</div>
			<ul class="nav navbar-nav">
				<li><a href="{% url 'main' %}">Főoldal</a></li>
				<li><a href="{% url 'site_list' %}">Adatok</a></li>
			</ul>
			
			{% if user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'logout' %}">[<span class="glyphicon glyphicon-user"></span> {{user}}] Kilépés</a></li>
				</ul>
			{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'login' %}">Belépés</a></li>	
				</ul>
			{% endif %}
	</div>
</nav>
	
<div class="container">
	{% block content %}
	{% endblock %}
</div> <!-- / narrow container -->
	
<footer class="navbar navbar-inverse noradius">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Lernerné Lelovics Enikő Alexandra: Meteorológiai adatok nyilvántartása, megjelenítése és elemzése webes felületen</a>
		</div>
		<ul class="nav navbar-nav">
			<li><a href="{% url 'main' %}">Főoldal</a></li>
			<li><a href="{% url 'site_list' %}">Adatok</a></li>
		</ul>
	</div>
</footer>




</body>
</html>