{% extends 'climate/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Havi adatlap: {{site.title}}, {{month.year}}.{{month.getMonth}}. {% endblock %}

{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-cloud"></span> Éghajlati napló kitöltése
	</div>
	<div class="panel-body">

	<div class="row">
		<div class="col-sm-6">
			<p>Mérőhely: {{site.title}}</p>
			<p>Aktuális hónap: {{month.year}}.{{month.getMonth}}.</p>
		</div>
		<div class="col-sm-6">
			<p>Másik hónap választása</p>
			<input id="datePicker" class="datepicker" data-date-format="mm/dd/yyyy">
		</div>
	</div>

		<div class="table-responsive">
			<table class="table table-striped valign-center" class="full-width">
				<thead>
					<tr>
						<th>Nap</th>
						<th>Tmin</th>
						<th>Tmax</th>
						<th>Csapadék</th>
						<th>Szignifikáns jelenségek</th>
					</tr>
				</thead>
				<tbody>
					{% for day in month.daysOfMonthTillToday %}
						<tr>
							<td>{{day}}</td>
							<td><input class="full-width" type="number" step=0.1 id="Tmin{{day}}"></td>
							<td><input class="full-width" type="number" step=0.1 id="Tmax{{day}}"></td>
							<td><input class="full-width" type="number" min=0 step=0.5 id="prec{{day}}"></td>
							<td>
								<select id="obs{{day}}">
    								<option value="-1">Időjárási jelenség hozzáadása</option>
    								{% for obs in weatherCodes %}
    									<option value="{{obs.0}}">{{obs.1}}</option>
    								{% endfor %}
  								</select>
  								<div id="obsLabels{{day}}">

  								</div>
  							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<button class="btn btn-success btn-block">Adatok beküldése</button>
		</div>
	</div>
</div>

<script>
	var data = {{actualData}};
	var obsCodes = {};
	{% for o in weatherCodes %}
		obsCodes[{{o.0}}] = "{{o.1}}";
	{% endfor %}

	{% for day in month.daysOfMonthTillToday %}
		function handleInputChange(inputName, day, elemId) {
			var value = document.getElementById(elemId).value;
			if (!data[day]) {
				data[day] = {}
			}
			switch (inputName) {
				case "Tmax":
					data[day].Tmax = value == "" ? undefined : value;
					break;
				case "Tmin":
					data[day].Tmin = value == "" ? undefined : value;
					break;
				case "prec":
					data[day].prec = value == "" ? undefined : value;
					break;
			}
			if (data[day].Tmin == undefined && data[day].Tmax == undefined && data[day].prec == undefined) {
				data[day] = null;
			}
		}

		function handleAddObservation(day, elemId) {
			var value = document.getElementById(elemId).value;
			if (value != -1) {
				if (!data[day]) {
					data[day] = { obs: [] }
				}
				if (data[day].obs.indexOf(value) == -1) {
					data[day].obs.push(value);
				}
				
				document.getElementById(elemId).value = -1;
			}
			renderLabels(day, "obsLabels"+day);
		}

		function renderLabels(day, elemId) {
			var elem = document.getElementById(elemId);
			elem.innerHTML = '';
			if (!!data && !!data[day] && !!data[day].obs) {
				for (var i = 0; i < data[day].obs.length; i++) {
					var span = document.createElement("span");
	    			span.className = "label label-info inline-block";
	    			span.appendChild(document.createTextNode(obsCodes[data[day].obs[i]]));
	    			elem.appendChild(span);
	    			//console.log(obsCodes);
				}
			}
			
		}

		document.getElementById("Tmax{{day}}").onchange = function() { handleInputChange("Tmax",{{day}},"Tmax{{day}}") };
		document.getElementById("Tmin{{day}}").onchange = function() { handleInputChange("Tmin",{{day}},"Tmin{{day}}") };
		document.getElementById("prec{{day}}").onchange = function() { handleInputChange("prec",{{day}},"prec{{day}}") };
		document.getElementById("obs{{day}}").onchange = function() { handleAddObservation({{day}},"obs{{day}}") };
		renderLabels({{day}},"obsLabels{{day}}");
	{% endfor %}
</script>
<script>
$('#datePicker').datepicker({
	minViewMode: 1,
    maxViewMode: 2,
    autoclose: true,
    format: "yyyy/mm",
    endDate: '+0d',
});
</script>
{% endblock content %}