{% extends 'climate/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Havi adatlap: {{site.title}}, {{month.year}}.{{month.getMonth}}. {% endblock %}

{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-cloud"></span> Éghajlati napló kitöltése
	</div>
	<div class="panel-body">

	<div class="row">

		<div class="col-sm-6">
			<p>Mérőhely: <a href="{% url 'site_details' pk=site.pk %}">{{site.title}}</a></p>
			<p>Aktuális hónap: {{month.year}}.{{month.get_month_two_digits}}.</p>
		</div>
		<div class="col-sm-6">
			<p>Másik hónap választása</p>
			<input id="datePicker" class="datepicker" data-date-format="mm/dd/yyyy">
		</div>
	</div>

		<div class="table-responsive">
			<table class="table table-striped valign-center" class="full-width">
				<thead>
					<tr>
						<th>Nap</th>
						<th>Tmin (°C)</th>
						<th>Tmax (°C)</th>
						<th>Csapadék (mm)</th>
						<th>Szignifikáns jelenségek</th>
						<th>Volt hó</th>
						<th>Hó- vastagság</th>
					</tr>
				</thead>
				<tbody>
					{% for day in month.days_of_month_till_today %}
						<tr>
							<td>#{{day}}</td>
							<td><input class="full-width" type="number" step=0.1 id="Tmin{{day}}" placeholder="Tmin"></td>
							<td><input class="full-width" type="number" step=0.1 id="Tmax{{day}}" placeholder="Tmax"></td>
							<td><input class="full-width" type="number" min=0.5 step=0.5 id="prec{{day}}" placeholder="csapadék"></td>
							<td>
								<select id="obs{{day}}">
    								<option value="-1">Időjárási jelenség hozzáadása</option>
    								{% for obs in weatherCodes %}
    									<option value="{{obs.0}}">{{obs.1}}</option>
    								{% endfor %}
  								</select>
  								<div id="obsLabels{{day}}">

  								</div>
  							</td>
  							<td><input class="full-width" type="checkbox" id="isSnow{{day}}"></td>
  							<td><input class="full-width" type="number" min=0 step=0.5 id="snowDepth{{day}}" placeholder="hóvastagság"></td>
						</tr>
						<tr>
							<td colspan="7">
								<textarea class="full-width" id="comment{{day}}" placeholder="Megjegyzés" cols="40" rows="3"></textarea>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

			<button id="push-data" class="btn btn-success btn-block">Adatok beküldése</button>
		</div>
	</div>
</div>

<script src="{% static 'js/constant.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/climate.js' %}"></script>

<script>

	var data = {{ actualData|safe }};

	var obsCodes = {};
	{% for o in weatherCodes %}
		obsCodes[{{o.0}}] = "{{o.1}}";
	{% endfor %}

	document.getElementById("push-data").onclick = function() {
		var dataToSend = {
			year: {{month.year}},
			month: {{month.getMonth}},
			data: data
		}
		var path = "{% url 'site_details' pk=site.pk %}";
		var cb = function() {
			window.location.href = path;
		}
		sendDataToServer(API_ENDPOINTS.UPLOAD_CLIMATE_DATA, {{site.pk}}, dataToSend, true, cb)
	}

	window.onload = function() {
		{% for day in month.daysOfMonthTillToday %}
			document.getElementById("Tmax{{day}}").onchange = function() { 
				handleInputChange("Tmax",{{day}}-1,"Tmax{{day}}");
			};
			document.getElementById("Tmin{{day}}").onchange = function() { 
				handleInputChange("Tmin",{{day}}-1,"Tmin{{day}}");
			};
			document.getElementById("prec{{day}}").onchange = function() { 
				handleInputChange("prec",{{day}}-1,"prec{{day}}");
			};
			document.getElementById("obs{{day}}").onchange = function() { 
				handleAddObservation({{day}}-1,"obs{{day}}");
			};
			renderLabels({{day}}-1,"obsLabels{{day}}");
			document.getElementById("isSnow{{day}}").onchange = function() { 
				handleInputChangeCheckbox("isSnow",{{day}}-1,"isSnow{{day}}");
			};
			document.getElementById("snowDepth{{day}}").onchange = function() { 
				handleInputChange("snowDepth",{{day}}-1,"snowDepth{{day}}");
			};
			document.getElementById("comment{{day}}").oninput = function() { 
				handleInputChange("comment",{{day}}-1,"comment{{day}}");
			};
			document.getElementById("comment{{day}}").onpropertychange = function() { 
				handleInputChange("comment",{{day}}-1,"comment{{day}}");
			};

			if (!!data[{{day}}-1]) {
				document.getElementById("Tmax{{day}}").value = data[{{day}}-1].Tmax;
				document.getElementById("Tmin{{day}}").value = data[{{day}}-1].Tmin;
				document.getElementById("prec{{day}}").value = data[{{day}}-1].prec;
				document.getElementById("snowDepth{{day}}").value = data[{{day}}-1].snowDepth;
				if (data[{{day}}-1].comment != undefined) {
					document.getElementById("comment{{day}}").value = data[{{day}}-1].comment;
				}
				if (!!data[{{day}}-1].isSnow) {
					document.getElementById("isSnow{{day}}").checked = true;

				}
				
			}
			
		{% endfor %}

	}
</script>
<script>
	$('#datePicker').datepicker({
		minViewMode: 1,
	    maxViewMode: 2,
	    autoclose: true,
	    format: "yyyy/mm",
	    endDate: '+0d',
	});

	document.getElementById("datePicker").onchange = function() {
		var val = document.getElementById("datePicker").value;
		var path = "{% url 'climate' pk=site.pk %}";
		window.location.href = (path + "/" + val);
	};
</script>
{% endblock content %}