{% extends 'climate/base.html' %}
{% load widget_tweaks %}
{% block title %}Észlelési segédlet{% endblock %}

{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading"><span class="glyphicon glyphicon-blackboard"></span> Észlelési segédlet</div>
		<div class="panel-body">
			<div class="col-12">
                <h3>Tatalomjegyzék</h3>
                <ul>
                    <li><a href="#meromuszerek" title="Mit hogyan mérünk?">Mérőműszerek elhelyezkedése</a></li>
                    <li><a href="#idopontok" title="Mit mikor mérünk?">Mérési időpontok</a></li>
                    <li><a href="#beaufort" title="Beaufort-skála">
                        Szélsebesség megállapítása becsléssel
                    </a></li>
                    <li><a href="#borultsag" title="Borultság">Felhőzet mennyisége</a></li>
                    <li><a href="#egkep" title="Felhőfajták">Az égkép jellemzése</a></li>
                    <li><a href="#jelenido" title="Jelenidő">Időjárási jelenségek</a></li>
                    <li><a href="#linkek" title="Linkek">Linkgyűjtemény</a></li>
                </ul>

                <h3><a name="meromuszerek">Mérőműszerek elhelyezése</a></h3>
                <p>A meteorológiai mérőműszerek elhelyezésének a következő kritériumoknak kell megfelelnie:</p>
                <ul>
                <li>A hőmérsékletet fűtött épületektől távol, rövidre nyírt fű fölött, a talajfelszíntől két méteres magasságban kell mérni, közvetlen és közvetett sugárzástól védve (árnyékolóban).</li>
                <li>Relatív nedvességet a hőmérséklettel együtt mérjük.</li>
                <li>A csapadékmérő a felszín fölött egy méterrel kell hogy elhelyezkedjen, olyan helyen, ahol az égre rálát, azaz nincs semmilyen tereptárgy takarásában.</li>
                <li>A hóvastagságot reggel 7-kor kell lemérni, legalább három helyen, ahol se különösen sok, se különösen kevés hó nincs, és a mérések átlagát kell venni.</li>
                <li>Szélmérést 10 méter magasságban, zavaró tereptárgyaktól távol kell végezni.</li>
                <li>Radiációs minimumhőmérsékletet a talajtól 10 cm-re, árnyékolás nélkül mérünk, az éjszaka során.</li>
                </ul>

                <center>
                <img class="article full" src="http://www.zivatar.hu/felhotar/albums/metallomas/romania/biharfured/normal_biharfured_zivatar_03.jpg" alt="Műszerkert: Biharfüred">
                </center>

                <h3><a name="idopontok">Mérési időpontok</a></h3>
                <ul>
                <li>A csapadékmennyiséget és a hóvastagságot reggel 7-kor kell lemérni.</li>
                <li>A hőmérsékleti szélsőértékek mérésére többféle szabály van: éjféltől éjfélig vagy 06-18 UTC maximumot és 18-06 UTC között minimumot, vagy 06-06 UTC között mindkettőt.</li>
                <li>Lehetőleg az adatgyűjtést UTC-re állított készülékkel érdemes végezni, akkor nem merülnek fel az óraátállításhoz kapcsolódó problémák.</li>
                </ul>

                <h3><a name="beaufort">Szélsebesség megállapítása becsléssel</a></h3>
                <p>Széliránynak a meteorológiában azt az irányt nevezzük, amerről a szél fúj. Tehát az északi szél észak felől fúj.</p>
                <p>A szélsebességet a <a href="http://www.zivatar.hu/c.php?c=beaufort-szelskala">Beaufort-skála</a> alapján becsülhetjük meg. Ez a tereptárgyakra, növényekre, fákra, vízfelületre gyakorolt hatása alapján bontja a szélsebességet kategóriákra:</p>
                <center>
                <img class="full" src="http://oneillseaodyssey.org/wp-content/themes/oneil/images/beaufort.gif">
                <p><a href="http://oneillseaodyssey.org/wp-content/themes/oneil/images/beaufort.gif">Kép forrása</a></p>
                </center>


                <h3><a name="borultsag">Felhőzet mennyisége</a></h3>
                <p>A felhőzet mennyiségét becsléssel lehet megállapítani. Az égre nézve azt kell megbecsülni, hogy az ég hány nyolcadát borítják felhők.</p>
                <p>Ebbe beleszámítanak a vékony, átlátszó felhők, és a kondenzcsíkok is.</p>
                <p>0 oktát (nyolcadot), azaz derült eget kizárólag akkor szabad megadni, ha tényleg felhőtlen az ég.</p>
                <p>Ugyanígy 8 oktát, azaz borult eget pedig akkor, ha az ég 100%-át felhők borítják.</p>

                <h3><a name="egkep">Égkép jellemzése</a></h3>
                <p>Az aktuálisan uralkodó felhőzetet leggyakrabban az egész eget összességében jellemző szinoptikus égképkódokkal írjuk le.</p>
                <p>Ez a gyakorlatban azt jelenti, hogy az alacsony, középmagas és magas szintű felhőket egy-egy kóddal fogjuk jellemezni, az aktuálisan jelenlévő felhők alapján.</p>
                <p>Az osztályozást az alábbi folyamatábrák és leírások használatával lehet végrehajtani:
                    <a href="https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/ckeditor/files/WMD2017_poster_low_JN1785_1.pdf?aGsYVoScFKPxRuxlxLNuPb4tcg8PjvcR">[alacsony szintű felhők]</a>
                    <a href="https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/ckeditor/files/WMD2017_poster_middle_JN1785_0.pdf?kR2kSOPabrj9IJ6Vd6NEfcnS05JtjEpQ">[középmagas szintű felhők]</a>
                    <a href="https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/ckeditor/files/WMD2017_poster_high_JN1785_2.pdf?1euxEpTy4HtTsV0y2aeCOO3e.T4NebZR">[magas szintű felhők]</a>
                    <a href="https://ane4bf-datap1.s3-eu-west-1.amazonaws.com/wmocms/s3fs-public/ckeditor/files/WMD2017_poster_JN162028_EN.pdf?nYgh.wIczIOQE7LTllgPL2S0Zbwwn0A3">[bővebb info]</a></p>

                <center>
                <img src="https://www.weather.gov/images/jetstream/clouds/cloudchart_nws.jpg" width="95%">
                <p><a href="https://www.weather.gov/images/jetstream/clouds/cloudchart_nws.jpg">Kép forrása</a></p>
                </center>

                <p>Az égkép megállapításához az alábbi ellenőrző listán kell végigmenni,
                    amíg nem teljesül egy feltétel:</p>

                <h4>Alacsony szintű felhők</h4>
                <ol>
                    <li>Ha van üllős zivatarfelhő: Cb9</li>
                    <li>Ha van üllő nelküli zivatarfelhő: Cb3</li>
                    <li>Ha van Stratocumulus cumulogenitus: Sc4</li>
                    <li>Ha van Cumulus és Stratocumulus: Sc8</li>
                    <li>Ha van közepesen vagy erősen fejlett (mediocris vagy congestus) Cumulus: Cu2</li>
                    <li>Az alábbiak közül amelyikből több van:
                        <ul>
                            <li>"Rosszidő-típusú" Stratus fractus vagy Cumulus fractus: St7</li>
                            <li>Stratus nebulosus: St6</li>
                            <li>Stratocumulus, ami nem Cumulusokból keletkezett: Sc5</li>
                            <li>Cumulus humilis vagy fractus: Cu1</li>
                        </ul>
                    </li>
                </ol>

                <h4>Középmagas szintű felhők</h4>
                <ol>
                    <li>Kaotikus égkép: CM9 (itthon nem szokták használni)</li>
                    <li>Ha van Altocumulus castellanus vagy floccus: Ac8</li>
                    <li>Altocumulus + Altostratus vagy Nimbostratus: Ac7</li>
                    <li>Altocumulus cumulogenitus vagy Cbgenitus: Ac6</li>
                    <li>Felvonuló Altocumulus: Ac5</li>
                    <li>Lencse alakú, gyorsan változó formájú Altocumulus: Ac4</li>
                    <li>Altocumulus két szinten: Ac7</li>
                    <li>Átlátszó Altocumulus: Ac3 (Nap vagy Hold látszik)</li>
                    <li>Nem átlátszó Altocumulus: Ac7</li>
                    <li>Átlátszó Altostratus: As1 (Nap vagy Hold látszik)</li>
                    <li>Nem átlátszó Altostratus: As7</li>
                    <li>Nimbostratus: Ns2 (általában egyenletes csapadékhullással jár)</li>
                </ol>

                <h4>Magas szintű felhők</h4>
                <ol>
                    <li>Ha a Cirrocumulusok a dominánsak: Cc9</li>
                    <li>Ha Cirrostratus borítja az egész eget: Cs7 (gyakran halójelenséget okoz)</li>
                    <li>Cirrostratus mennyisége állandó vagy csökken: Cs8</li>
                    <li>Cirrostratus borítja az eget 45° látószög fölött: Cs6</li>
                    <li>Cirrostratus borítja az eget 45° látószög alatt: Cs5</li>
                    <li>Felvonuló Cirrus: Ci4</li>
                    <li>Zivatarfelhő üllőjéből keletkezett Cirrus: Ci3</li>
                    <li>Sűrű foltokban található Cirrus (spissatus): Ci2</li>
                    <li>Vékony Cirrus darabok (fibratus/uncinus): Ci1</li>
                </ol>

                <h3><a name="jelenido">Időjárási jelenségek</a></h3>
                <p>A legfontosabb <a href="http://www.zivatar.hu/c.php?c=jelenido-kodok-eszlelesi-alapok">időjárási jelenségek</a> meghatározása:</p>
                <ul>
                <li>Száraz légköri homály: a látástávolság nagy területen korlátozott, miközben a relatív nedvesség alacsony. Ezzel szemben porvihar/homokvihar csak kisebb területre terjed ki, párásság és köd esetén pedig magas a relatív nedvesség.</li>
                <li>Köd: 1 km alatti a látástávolság, párásság esetén 1-5 km. Zárt a köd, ha az égbolt nem látszik, és nyílt, ha a köd fölött csillagok vagy napsütés, esetleg magasabb szintű felhők láthatóak.</li>
                <li>Eső: térben és időben egyenletes csapadékhullás, közepes cseppmérettel, ami réteges felhőzetből hullik. Ezzel szemben a zápor cseppmérete nagy, gomolyos felhőzetből esik, térben és időben egyaránt egyenetlen eloszlásban.</li>
                <li>Csapadéksávot vagy virgát láthatunk a megfigyelőtől távolabb hulló csapadék esetén.</li>
                <li>Szitálás szemcsemérete nagyon kicsi, Stratusból hullik, kis mennyiségben. Ennek szilárd halmazállapotú megfelelője a szemcsés hó (esetleg ónos szitálás)</li>
                <li>Zivatart kell észlelni akkor, ha dörgést lehet hallani, függetlenül attól, van-e csapadékhullás. Ha van, akkor az valamilyen záporos csapadék lesz. Ha viszont csak villámlást lehet látni, az nem számít zivatarnak, mivel maga a zivatar akár nagyon messze is lehet.
                </ul>

                <h3><a name="linkek">Linkgyűjtemény</a></h3>

                <ul>
                    <li>
                        Tankönyvek
                        <ul>
                            <li>
                                <a href="http://elte.prompt.hu/sites/default/files/tananyagok/MeteorologiaAlapismeretek/index.html">
                                    Meteorológiai alapismeretek
                                </a>
                            </li>
                            <li>
                                <a href="http://elte.prompt.hu/sites/default/files/tananyagok/MeteorologiaiMuszerekEsMerorendszerek/index.html">
                                    Meteorológiai műszerek és mérőrendszerek
                                </a>
                            </li>
                            <li>
                                <a href="https://docplayer.hu/2052852-Az-eszlelo-amator-meteorologus-kezikonyve.html">
                                    Az észlelő amatőr meteorológus kézikönyve
                                </a>
                            </li>
                            <li>
                                <a href="https://www.met.hu/ismertetok/MET-ESZ_utmutato.pdf">
                                    Meteorológiai ismeretek és MET-ÉSZ észlelési útmutató
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Felhőkről
                        <ul>
                            <li>
                                <a href="https://www.metoffice.gov.uk/binaries/content/assets/mohippo/pdf/r/cloud_types_for_observers.pdf">
                                    Cloud type for observers - angol meteorológiai szolgálat kézikönyve
                                </a>
                            </li>
                            <li>
                                <a href="http://nenes.eas.gatech.edu/Cloud/Clouds.pdf">
                                    Common Cloud Names, Shapes, and Altitudes - egyetemi ppt, elég jó ábrákkal
                                </a>
                            </li>
                            <li>
                                <a href="https://cloudatlas.wmo.int/home.html">
                                    WMO nemzetközi felhőatlasz weboldal
                                </a>
                            </li>
                            <li>
                                <a href="http://www.zivatar.hu/c.php?c=kulonleges-felhok">
                                    Különleges felhők - éjszakai világító felhők, poláris sztratoszférikus felhők és társaik
                                </a>
                            </li>
                            <li>
                                <a href="https://www.met.hu/ismeret-tar/meteorologiai_alapismeretek/felhoosztalyozas/">
                                    Felhőosztályozás - felhőfajták leírása magyar nyelven
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Időjárási jelenségekről
                        <ul>
                            <li>
                                <a href="http://www.zivatar.hu/c.php?c=jelenido-kodok-eszlelesi-alapok">
                                    Jelenidő kódok a SYNOP táviratokban
                                </a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="https://www.metnet.hu/kislexikon">
                                    Meteorológiai kislexikon és észlelési segédletek
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Más hasznos dolgok
                        <ul>
                            <li>
                                <a href="https://www.met.hu/ismeret-tar/meteorologiai_alapismeretek/mi_mennyi/">
                                    Mi mennyi a meteorológiában - mit jelent az elszórtan vagy a helyenként?
                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>

                <a href="#" title="oldal teteje">Oldal tetejére</a>

                

			</div>
		</div>
	</div>
</div>
{% endblock %}