{% extends 'climate/base.html' %}
{% load staticfiles %}

{% block title %}
Zivatar.hu Éghajlati Adatbázis
{% endblock %}

{% block before-header %}
<div id="big-main-header">
	<div class="text-vertical-center">
		<h1><span class="with-bg">Éghajlati adatbázis</span></h1>
		<h2><span class="pull-right with-bg">Meteorológiai adatok</span><h2>
	</div>
</div>
{% endblock %}

{% block content %}
	
<div class="row marketing">
	<div class="col-lg-6">
		<h3>Adatok rögzítése</i></h3>
		
		<a href="{% url 'new_site' %}"><div class="item">
			<h4><span class="label label-default"><span class="glyphicon glyphicon-map-marker"></span> Saját mérőhelyek</span></h4>
			<p><strong>Hol mérsz?</strong> Saját mérőhelyek felvitele, módosítása, törlése.</p>
		</div></a>
		<div class="item">
			<h4><span class="glyphicon glyphicon-scale"></span> Mérőműszerek</h4>
			<p><strong>Mivel mérsz?</strong> Saját mérőműszerek rögzítése, lezárása.</p>
		</div>
		<div class="item">
			<h4><span class="glyphicon glyphicon-cloud-upload"></span> Mért adatok feltöltése</h4>
		</div>
		<div class="item">
			<h4><span class="glyphicon glyphicon-list-alt"></span> Éghajlati adatok rögzítése</h4>
			<p><strong>Mit mértél? Mit láttál?</strong> Éghajlati napló vezetése. Aktuális és összefoglaló adatok feltöltése.</p>
		</div>
		<a href="{% url 'new_observation' %}"><div class="item">
			<h4><span class="glyphicon glyphicon-cloud"></span> Aktuális időjárás rögzítése</h4>
		</div></a>
	</div>

    <div class="col-lg-6">
		<h3>Adatok lekérése</h3>
		<a href="{% url 'site_list' %}"><div class="item">
			<h4><span class="glyphicon glyphicon-map-marker"></span> Publikus mérőhelyek</h4>
			<p>Publikus mérőhelyek megjelenítése térképen</p>
		</div></a>
		<div class="item">
			<h4><span class="glyphicon glyphicon-stats"></span> Éghajlati adatok lekérése</h4>
			<p>Az összegyűjtött adatok lekérése egy kiválasztott helyre és időtartamra. Havi és éves statisztikák készítése, ha rendelkezésre állnak a megfelelő adatok. Ábrák és grafikonok.</p>
		</div>
		<div class="item">
			<h4><span class="glyphicon glyphicon-blackboard"></span> Észlelési segédlet</h4>
			<p>Segédlet az adatok rögzítéséhez és értelmezéséhez.</p>
		</div>
	</div>
</div>
{% endblock content %}