{% extends 'climate/base.html' %}
{% load staticfiles %}

{% block title %}
Zivatar.hu Éghajlati Adatbázis
{% endblock %}

{% block before-header %}
<div id="big-main-header">
	<div class="text-vertical-center">
		<h1><span class="with-bg">Éghajlati adatbázis</span></h1>
		<h2><span class="pull-right with-bg">Meteorológiai adatok</span><h2>
	</div>
</div>
{% endblock %}

{% block content %}
	
<div class="row marketing">
	<div class="col-lg-6">
		<h3>Adatok rögzítése</i></h3>

		<div class="item">
			<h4><span class="glyphicon glyphicon-map-marker"></span> <a href="{% url 'own_site_list' %}">Saját mérőhelyek listája</a></h4>
			<p>Saját mérőhelyek megjelenítése térképen</p>
			<p>Adatok feltöltése, megjelenítése. Manuális klímaívek kitöltése.</p>
		</div>
		
		<div class="item">
			<h4><span class="glyphicon glyphicon-map-marker"></span> <a href="{% url 'new_site' %}">Saját mérőhelyek nyilvántartása</a></h4>
			<p><strong>Hol mérsz?</strong> Saját mérőhelyek felvitele, módosítása, törlése.</p>
		</div>
		<div class="item">
			<h4><span class="glyphicon glyphicon-scale"></span> Mérőműszerek nyilvántartása</h4>
			<p><strong>Mivel mérsz?</strong> Saját mérőműszerek rögzítése, lezárása.</p>
		</div>
		<div class="item">
			<h4><span class="glyphicon glyphicon-cloud"></span> <a href="{% url 'new_observation' %}">Aktuális időjárás észlelése</a></h4>
		</div>
	</div>

    <div class="col-lg-6">
		<h3>Adatok lekérése</h3>
		<div class="item">
			<h4><span class="glyphicon glyphicon-map-marker"></span> <a href="{% url 'site_list' %}">Publikus mérőhelyek listája</a></h4>
			<p>Publikus mérőhelyek megjelenítése térképen</p>
		</div>
		
		<div class="item">
			<h4><span class="glyphicon glyphicon-stats"></span> <a href="{% url 'site_list' %}">Éghajlati adatok lekérése</a></h4>
			<p>Az összegyűjtött adatok lekérése egy kiválasztott helyre és időtartamra. Havi és éves statisztikák készítése, ha rendelkezésre állnak a megfelelő adatok. Ábrák és grafikonok rajzolása.</p>
		</div>
		<div class="item">
			<h4><span class="glyphicon glyphicon-blackboard"></span> <a href="{% url 'guide' %}">Észlelési segédlet</a></h4>
			<p>Segédlet az adatok rögzítéséhez és értelmezéséhez.</p>
		</div>
	</div>

	<!--div class="col-lg-12">
		<p>Az adatfeldolgozó- és megjelenítő rendszer az alábbi szakdolgozat részeként készült: Lernerné Lelovics Enikő Alexandra: Meteorológiai adatok nyilvántartása, megjelenítése és elemzése webes felületen</p>
	</div-->
</div>
{% endblock content %}