{% extends 'climate/base.html' %}
{% load staticfiles %}

{% block title %}Havi klímalap: {{site.title}}, {{report.year}}.{{report.month}}. {% endblock %}

{% block content %}

<script>
	function getTempAvgs() { return {{report.tempAvgs}}; }
	function getTempMins() { return {{report.tempMins}}; }
	function getTempMaxs() { return {{report.tempMins}}; }
</script>


<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-map-marker"></span> <a href="{% url 'site_list' %}">Meteorológiai állomások</a> >> <a href="{% url 'site_details' pk=site.pk %}">{{ site.title }}</a> >> <a href="{% url 'yearly_view' pk=site.pk year=report.year %}">{{ report.year }}</a> >> {{ report.month }}
	</div>
	<div class="panel-body">

		

		<table class="table table-striped">
			<tr>
				<td>Év</td>
				<td>{{report.year}}</td>
			</tr>
			<tr>
				<td>Hónap</td>
				<td>{{report.month}}</td>
			</tr>
		</table>

		<h4>Havi hőmérsékleti szélsőértékek és átlag</h4>

		<p>{{report.tempMins}}</p>
		<p>{{report.tempAvgs}}</p>
		<p>{{report.tempMaxs}}</p>

		<h4>A hőmérséklet eloszlása</h4>

		<p>{{report.tempDist}}</p>

		<h4>Hőmérsékleti jelzőnapok gyakorisága</h4>

		<table class="table table-striped">
		<tr>
			<td>Fagyos napok száma <span class="glyphicon glyphicon-question-sign" title="Tmin < 0°C"></span></td>
			<td>{{report.indices.frostDays}}</td>
		</tr>
		<tr>
			<td>Hideg napok száma <span class="glyphicon glyphicon-question-sign" title="Tmin < -10°C"</td>
			<td>{{report.indices.coldDays}}
		</tr>
		<tr>
			<td>Meleg éjszakák száma <span class="glyphicon glyphicon-question-sign" title="Tmin > 20°C"></span></td>
			<td>{{report.indices.warmNights}}</td>
		</tr>
		<tr>
			<td>Nyári napok száma <span class="glyphicon glyphicon-question-sign" title="Tmax > 25°C"</td>
			<td>{{report.indices.summerDays}}
		</tr>
		<tr>
			<td>Meleg napok száma <span class="glyphicon glyphicon-question-sign" title="Tmax >= 30°C"></span></td>
			<td>{{report.indices.warmDays}}</td>
		</tr>
		<tr>
			<td>Forró napok száma <span class="glyphicon glyphicon-question-sign" title="Tmax >= 35°C"</td>
			<td>{{report.indices.hotDays}}
		</tr>

		</table>

		<h4>Relatív nedvesség gyakorisága</h4>

		<p>{{report.rhDist}}</p>


		<h4>A havi csapadékmennyiség napi menete</h4>

		<p>{{report.prec}}</p>

		<h4>Napi csapadékmennyiség küszöbérték meghaladása</h4>

		<table class="table table-striped">
			<tr>
				<td>Csapadékos napok száma:</td>
				<td>{{report.precDist.0}}</td>
			</tr>
			<tr>
				<td>10mm fölötti csapadékú napok száma</td>
				<td>{{report.precDist.10}}</td>
			</tr>
			<tr>
				<td>30mm fölötti csapadékú napok száma</td>
				<td>{{report.precDist.30}}</td>
			</tr>
			<tr>
				 <td>50mm fölötti csapadékú napok száma</td>
				 <td>{{report.precDist.50}}</td>
			</tr>
		</table>

		<h4>A szélsebesség gyakorisága</h4>

		<h4>A jellemző szélirány eloszlása</h4>
	</div>
</div>
{% endblock content %}