{% extends 'climate/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load gravatar %}
{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-user"></span> Saját felhasználó
	</div>
	<div class="panel-body">
		<h4>Műveletek</h4>

		<div class="row margin-h-0">

		<ul class="pull-left">
			<li><a href="{% url 'logout' %}">Kilépés</a></li>
			{% if user.groups.all.0.name == "is_admin" or user.groups.all.1.name == "is_admin" %}
				<li><a href="{% url 'edit_users' %}">Felhasználók karbantartása</a></li>
			{% endif %}
		</ul>
		
		<img class="pull-right gravatar" src="{{gravatar}}">


		</div>

		<h4>Adatok</h4>

		<table class="table table-striped">
			<tr>
				<td>Név</td>
				<td>{{user}}</td>
			</tr>
			<tr>
				<td>Aktív</td>
				{% if user.is_active %}
					<td class="yes">igen</td>
				{% else %}
					<td class="no">nem</td>
				{% endif %}
			</tr>
			<tr>
				<td>Admin</td>
				{% if user.groups.all.0.name == "is_admin" or user.groups.all.1.name == "is_admin" %}
					<td class="yes">igen</td>
				{% else %}
					<td class="no">nem</td>
				{% endif %}
			</tr>
			<tr>
				<td>Van joga adatot feltölteni</td>
				{% if user.groups.all.0.name == "can_upload" or user.groups.all.1.name == "can_upload" %}
					<td class="yes">igen</td>
				{% else %}
					<td class="no">nincs, e-mailben kérhetsz</td>
				{% endif %}
			</tr>
		</table>
	</div>
</div>
{% endblock content %}
