{% extends 'climate/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<script>

	var lat;
	var lon;
	//function setLatLon(lat, lon) {
	//	document.getElementById("new_site_lat").value = lat;
	//	document.getElementById("new_site_lon").value = lon;
	//};

	function getPos() {
		var positions = [{ position: {lat: {{ site.lat|safe }}, lng: {{ site.lon|safe }}}, title: "{{ site.title }}" }];
		console.log(positions);
		return positions;
	}
</script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-map-marker"></span> Mérőállomás: {{ site.title }}
	</div>
	<div class="panel-body">
							
			<div id="add_new">
				<div class="col-sm-12">
					<h1>{{ site.title }}</h1>
				</div>

				<div class="col-sm-12">
					<div id="google_maps_one_station"></div>
				</div>

				<div class="col-sm-12">
					<h2>Fényképek a mérőállomásról</h2>
				</div>
				
				{% if site.primaryImage or site.secondaryImage %}
					
					{% if site.primaryImage %}
						<div class="col-sm-6 col-xs-12">
							<img class="upload" src="{{site.primaryImage.url}}" width="100%">
						</div>
					{% endif %}
										
					{% if site.secondaryImage %}
						<div class="col-sm-6 col-xs-12">
							<img class="upload" src="{{site.secondaryImage.url}}" width="100%">
						</div>
					{% endif %}
					
					<div class="clearfix"></div>
				{% endif %}
				

				<div class="col-sm-12">
					<h2>Legutóbbi észlelések</h2>

					<table class="table table-striped table-condensed observation">
						<thead>
							<tr>
								<th>Dátum</th>
								<th>Szélsebesség (Beaufort-skála)</th>
								<th>Időjárási jelenségek</th>
							</tr>
						</thead>
						<tbody>
						{% for o in observations %}
							<tr>
							<td>{{ o.createdDate|date:'Y-m-d H:i' }}
							<td>{{ o.windSpeed }}</td>
							<td>
									{% for wc in o.weatherCode %}
										{% if wc %}<span class="label label-primary">{{ wc }}</span>{% endif %}
									{% endfor %}
							</td>
							<tr>
						{% endfor %}
							<tr>
								<td colspan=3><a href="{% url 'observations' pk=site.pk %}">További észlelések</a></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-sm-12">
					<h2><a href="{% url 'climate' pk=site.pk %}"> >> Éghajlati napló</a></h2>
					<h2><a href="{% url 'upload' pk=site.pk %}"> >> Adatok feltöltése</a></h2>
				</div>
				
				<div class="col-sm-12">
					<h2>Éghajlati adatok</h2>

					<table class="table table-striped">
					{% for y in ym %}
						<tr>
							<td colspan="12"><a href="{% url 'yearly_view' pk=site.pk year=y.year.year %}">{{ y.year.year }}</a></td>
						</tr>
						<tr>
						{% for m in y.months %}
							<td><a href="{% url 'monthly_view' site=site.pk year=m.year month=m.month %}">{{ m.month }}</a></td>
						{% endfor %}
						</tr>
					{% endfor %}
					</table>
				</div>	
					
		</div>

	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlx5Dw6cC5yonCBvGN7PehKnmirniYyxU&callback=GMoneStation"></script>

{% endblock content %}