{% extends 'climate/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}
<script>

	var lat;
	var lon;

	function getPos() {
		var positions = [{ position: {lat: {{ site.lat|safe }}, lng: {{ site.lon|safe }}}, title: "{{ site.title }}" }];
		console.log(positions);
		return positions;
	}

	function setLatLon(lat, lon) {
		document.getElementById("new_site_lat").value = lat;
		document.getElementById("new_site_lon").value = lon;
	};
</script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-map-marker"></span> Saját mérőhelyek szerkesztése, fényképek feltöltése
	</div>
	<div class="panel-body">
			
		<div class="nav-inside">
				<ul class="nav nav-pills">
					<li><a href="{% url 'new_site' %}">+1</a></li>
					{% for s in sites %}
						<li {% if s.title == site.title %} class="active" {% endif %}><a href="{% url 'site_edit' pk=s.pk %}">{{ s.title }}</a></li>
					{% endfor %}
				</ul>
		</div>
			
		<div class="tab-content">
				
			<div id="add_new" class="tab-pane fade in active">
				<h1>{{ site.title }}</h1>
						
				<form id="edit_site" method="post" class="post-form" enctype="multipart/form-data">{% csrf_token %}
				{{ form.non_field_errors }}
						
				<div id="google_maps_one_marker" class="col-12 col-sm-4">
				</div>
						
				<div class="form-group col-sm-2">
					{{ form.lat.errors }}
					{% render_field form.lat class+="form-control" placeholder="47°" required=true id="new_site_lat" value=site.lat %}
					{{ form.lon.errors }}
					{% render_field form.lon class+="form-control" placeholder="19°" required=true id="new_site_lon" value=site.lon %}
						
					{{ form.isActive.errors }}
					<label for="{{ form.isActive.id_for_label }}">Aktív:</label>
					{% render_field form.isActive class+="form-control" %}
					{{ form.isPublic.errors }}
					<label for="{{ form.isPublic.id_for_label }}">Publikus:</label>
					{% render_field form.isPublic class+="form-control" %}
				</div>
						
				<div class="col-sm-6">
					<div class="form-group">
						{{ form.title.errors }}
						<label for="{{ form.title.id_for_label }}">Megnevezés:</label>
						{% render_field form.title class+="form-control" placeholder="Pl. Kékestető, kilátó" value=site.title required=true %}
					</div>
					<div class="form-group">
						{{ form.wideArea.errors }}
						<label for="{{ form.wideArea.id_for_label }}">Tágabb környezet:</label>
						{% render_field form.wideArea class+="form-control" %}
					</div>
					<div class="form-group">
						{{ form.narrowArea.errors }}
						<label for="{{ form.narrowArea.id_for_label }}">Szűkebb környezet:</label>
						{% render_field form.narrowArea class+="form-control" %}
					</div>
				</div>

				<div class="clearfix"></div>

				<div class="col-12 margin-h-2em">
					{{ form.comment.errors }}
					<label for="{{ form.comment.id_for_label }}">Megjegyzés:</label>
					{% render_field form.comment class+="form-control" placeholder="Pl. 3 emeletes ház lapos tetején találhatóak a műszerek. A kilátás kiváló a Budai-hegység irányában." value=site.comment %}
				</div>

				<div class="clearfix"></div>

				<div class="col-12 margin-h-2em">
					{{ form.comment.errors }}
					<label for="{{ form.primaryImage.id_for_label }}">Kép módosítása:</label>
					{% render_field form.primaryImage class+="form-control" value=site.primaryImage %}
				</div>

				<div class="clearfix"></div>
				
				
				<div class="col-12 margin-h-2em">
							<div class="btn-group btn-group-justified">
								<a href="javascript:{}" class="btn btn-success" onclick="document.getElementById('edit_site').submit(); return false;">Módosítások mentése</a>

								<a href="{% url 'site_edit' pk=site.pk %}" class="btn btn-default">Módosítások elvetése</a>
								<!--a href="#" class="btn btn-danger">Mérőhely törlése</a-->
							</div>
						</div>
						
				</form>

				{% if site.primaryImage %}
					<div class="col-sm-12">
					
						{% if site.primaryImage %}
							<a href="{% url 'delete_site_image' site=site.pk number=1 %}">Kép törlése: <img class="upload" src="{{site.primaryImage.url}}" width="100%"></a>
						{% else %}
							Kép:
							<img class="img-thumbnail" src="https://placeholdit.imgix.net/~text?txtsize=60&txt=640%C3%97480&w=640&h=480" width="100%">
						{% endif %}
					</div>
				{% endif %}
						
						<!--
						<form method="POST" class="post-form">{% csrf_token %}
							{{ form.as_p }}
							<button type="submit" class="save btn btn-default">Save</button>
						</form>
						-->
			</div>
					
		</div>

	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT8nqIVYJhuI5INrAwkzYMzEBAOIhKt60&callback=GMselectOneStation"></script>

{% endblock content %}