{% extends 'climate/base.html' %}

{% block title %}Publikus mérőhelyek{% endblock %}

{% block content %}
<script>
	function getPos() {
		var positions = [];
		{% for site in sites %}
			positions.push( { position: {lat: {{ site.lat }}, lng: {{ site.lon }}}, title: "{{ site.title }}" } );
		{% endfor %}
		return positions;
	}
</script>
<div class="panel panel-primary">
	<div class="panel-heading"><span class="glyphicon glyphicon-map-marker"></span> Összes publikus mérőhely megjelenítése térképen</div>
		<div class="panel-body">
			<div id="google_maps_all_stations" class="col-12"></div>
			<div class="col-12">
				<table class="table table-striped" width="100%">
					<tr>
						<th>Név</th>
						<th>User</th>
					</tr>
					{% for site in sites %}
						<tr>
							<td><a href="{% url 'site_details' pk=site.pk %}">{{ site.title }}</a></td>
							<td>{{ site.owner }}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAlx5Dw6cC5yonCBvGN7PehKnmirniYyxU&callback=GMallStations"></script>

{% endblock content %}