{% extends 'climate/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}

<script src="{% static 'js/papaparse.min.js' %}"></script>
<script src="{% static 'js/constant.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/upload.js' %}"></script>

<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-cloud-upload"></span> Mért adatok feltöltése
	</div>
	<div class="panel-body">
			
		<div class="tab-content">
				
			<div id="add_new" class="tab-pane fade in active">

				<div id="site_id" class="invisible">{{site.pk}}</div>
						
				<div id="upload_container">
					<div id="SELECT_FILE" class="state">
  						<p>Válaszd ki az adatforrást: <input type="file" id="csv-file" name="files"></p>
					</div>

					<div id="SELECT_COLUMNS" class="state">
						<p>Melyik oszlop milyen adatot tartalmaz?</p>
					</div>

					<div id="UPLOAD_ROWS" class="state">
						<p>Feltöltés alatt</p>
						<p id="current_line">
					</div>

					<div id="FINISHED" class="state">
						<p>Befejeződött a feltöltés, a statisztika számolás néhány percig fog tartani.</p>
					</div>
				</div>
				
			</div>
					
		</div>

	</div>
</div>

<script>
	$(document).ready(function(){
    	$("#csv-file").change(handleFileSelect);
			setState("SELECT_FILE");
	});
</script>

{% endblock content %}