{% extends 'climate/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-map-marker"></span> {{ site.title }}, {{ year.year }}
	</div>
	<div class="panel-body">

		<a href="{% url 'site_list' %}">Meteorológiai állomások</a> >> <a href="{% url 'site_details' pk=site.pk %}">{{ site.title }}</a>

		<table class="table table-striped">
			<tr>
				<td>Év</td>
				<td>{{year.year}}</td>
			</tr>
		</table>

		<h4>Adatok száma</h4>
		<table class="table table-striped" >
			<tr>
			{% for m in monthNames %}
				<td>{{m}}</td>
			{% endfor %}
			</tr>
			<tr>
			{% for m in num %}
				{% if m.available > 0 %}
					<td><a href="{% url 'monthly_view' site=site.pk year=year.year month=m.id %}">{{m.available}}</a></td>
				{% else %}
					<td>{{m.available}}</td>
				{% endif %}
				
				
			{% endfor %}
			</tr>
		</table>

		<h4>Havi hőmérsékleti szélsőértékek és átlagok</h4>

		<canvas id="chart_temperature" width="100%" height="100%" style="max-height:400px;"></canvas>

		<h4>Hőmérsékleti jelzőnapok gyakorisága</h4>

		{{report.summerDays}}

		<canvas id="chart_temperature_indices" width="100%" height="100%" style="max-height:400px;"></canvas>

		<h4>A hőmérséklet eloszlása</h4>

		<canvas id="chart_temperature_distribution" width="100%" height="100%" style="max-height:400px;"></canvas>

		<h4>Relatív nedvesség eloszlása</h4>

		<canvas id="chart_rh_distribution" width="100%" height="100%" style="max-height:400px;"></canvas>

		<h4>Havi csapadékmennyiség éves menete</h4>

		<canvas id="chart_precipitation" width="100%" height="100%" style="max-height:400px;"></canvas>

		<h4>A jellemző szélirány eloszlása</h4>

		<canvas id="chart_wind" width="100%" height="100%" style="max-height:400px;"></canvas>

		<h4>Szignifikáns jelenségek</h4>

		<table class="table table-striped">
			<tr>
				<th>Megnevezés</th>
				<th>Napok száma</th>
			</tr>
			{% for s,v in significants.items %}
				<tr>
					<td>{{s}}</td>
					<td>{{v}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>

<script>

var data = [{{report.temps.mins}}, {{report.temps.minAvgs}}, {{report.temps.avgs}}, {{report.temps.maxAvgs}}, {{report.temps.maxs}}];
var dataLabels = ["Minimum", "Átlagos minimum", "Átlag", "Átlagos maximum", "Maximumhőmérséklet"]
new LineChart("chart_temperature", data, dataLabels).draw();

var data = [{{report.tempIndices.summerDays}}, {{report.tempIndices.frostDays}}, {{report.tempIndices.coldDays}}, {{report.tempIndices.warmNights}}, {{report.tempIndices.warmDays}}, {{report.tempIndices.hotDays}}];
var dataLabels = ["Nyári napok", "Fagyos napok", "Hideg napok", "Meleg éjszakák", "Meleg napok", "Forró napok"]
new LineChart("chart_temperature_indices", data, dataLabels).draw();

new StackedBarChart("chart_temperature_distribution", {{report.tempDist}}, {{climate.temp}}).draw();

new StackedBarChart("chart_rh_distribution", {{report.rhDist}}, {{climate.rh}}).draw();

var dataLabels = ["Havi csapadékmennyiség"];
new LineChart("chart_precipitation", [{{report.prec}}], dataLabels).draw();

var dataLabels = ["N", "NE", "E", "SE", "S", "SW", "W", "NW"];
new StackedBarChart("chart_wind", {{report.windDist}}, dataLabels).draw();

</script>
{% endblock content %}